$topnav-background-color: #111;
:host {
    .navbar {
        padding: 4px;
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.fa-user:before{
    margin-right: 10px;

}
.logo{
    background: #e9ecef;
    border-radius: 50px;
    padding: 2px;
    margin-left: 20px;
}
